body {
    background: #f1edff;
    font-family: Arial;
}

.calculator {
    width: 270px;
    margin: 80px auto;
    background: #ffffff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

#display {
    width: 100%;
    height: 40px;
    font-size: 18px;
    text-align: right;
    margin-bottom: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

button {
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background: #e5e0ff;
    cursor: pointer;
}

button:hover {
    background: #d4ccfc;
}

.clear {
    background: #c8befb;
    color: white;
}

.equal {
    background: #c8befb;
    color: white;
}

.erase {
    background: #c8befb;
    color: white;
}

/* 0 smaller now */
.zero {
    grid-column: span 2;
}
